<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chat">
            <h2><span>Chat</span> {{chat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Message</span></dt>
                <dd>
                    <span>{{chat.message}}</span>
                </dd>
                <dt><span>Src User</span></dt>
                <dd>
                    <span>{{chat.srcUser}}</span>
                </dd>
                <dt><span>Dst User</span></dt>
                <dd>
                    <span>{{chat.dstUser}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{chat.date}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chat', chat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
